*{
    /* a dark green color used in text field-like control as border color
       and for some buttons background color....
       it's the main ui color besides the background color
     */
    -rq-accent-focus: #ff0000;
    -rq-accent-unfocus: #ff8888;


    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     */
    -fx-focus-color: -rq-accent-unfocus;
    -fx-faint-focus-color: #039ED322;

    -rq-background: #303030;
    -rq-background-alt: white;
    -rq-background-alt2: -fx-background;

    -rq-text-background: white;
    -rq-text-background-alt: black;
    -rq-text-background-alt2: black;

    -rq-text-accent-dark: white;
    -rq-text-accent-light: white;

    -rq-shadow1: rgba(20, 20, 20, 0.1);
    -rq-shadow2: rgba(20, 20, 20, 0.2);
    -rq-shadow3: rgba(20, 20, 20, 0.3);
    -rq-shadow4: rgba(20, 20, 20, 0.4);
    -rq-shadow5: rgba(20, 20, 20, 0.5);
}

.text-input {
    -fx-highlight-fill: -rq-accent-unfocus;
    -fx-highlight-text-fill: -rq-text-background;
}

.common-button {
    -fx-background-color: -rq-accent-unfocus;
    -fx-text-fill: -rq-background-alt;
}

.common-button:focused {
    -fx-background-color: derive(-rq-accent-focus, 50%);
}

.common-button .glyph-icon{
    -fx-fill: -rq-text-background;
}

.main-button {
    -fx-background-color: -rq-background;
    -fx-text-fill: -rq-text-background;
}

.main-button:focused {
    -fx-background-color: derive(-rq-background, 50%);
}

.main-button:selected{
    -fx-background-color: -rq-background-alt;
    -fx-text-fill: -rq-text-background-alt;
}

.jfx-combo-box,
.jfx-text-area,
.jfx-text-field,
.jfx-date-picker,
.jfx-password-field {
    -jfx-unfocus-color: -rq-accent-unfocus;
    -jfx-default-color: -rq-accent-unfocus;
    -jfx-focus-color: -rq-accent-focus;
}

.menu-bar,
.menu-bar-button,
.menu-bar-container {
    -fx-background-color: -rq-background;
}
.menu-bar-button,
.menu-bar-button-icon,
.menu-bar .container .menu .label {
    -fx-fill: -rq-text-background;
    -fx-text-fill: -rq-text-background;
    -jfx-text-fill: -rq-text-background;
}

.tool-bar-button .jfx-rippler {
    -jfx-rippler-fill: -rq-background-alt;
}

.menu-bar > .container > .menu:hover,
.menu-bar > .container > .menu:focused {
    -fx-background-color: -rq-accent-unfocus;
}

.separator {
    -fx-background-color: lightgray;
}

.auth-dialog > StackPane {
    -fx-background-color: transparent;
}

#search-button .jfx-rippler {
    -jfx-rippler-fill: -rq-accent-unfocus;
}

.context-menu .menu-item:hover,
.context-menu .menu-item:focused {
    -fx-background-color: -rq-accent-unfocus;
    -fx-text-fill: white;
}

.pagination .pagination-control {
    visibility: hidden;
}

.jfx-check-box {
    -jfx-checked-color: -rq-accent-unfocus;
    -jfx-unchecked-color: lightgrey;
}

.jfx-text-area {
    -jfx-unfocused-color: -rq-accent-unfocus;
    -jfx-focused-color: -rq-accent-focus;
}

.progress-indicator {
    -fx-progress-color: -rq-accent-unfocus;
}

.table-row-cell:selected {
    -fx-background-color: -rq-accent-unfocus;
}


.filters-box{
    -fx-background-color: derive(-rq-background-alt, -7%);
}

.header-pane{
    -fx-background-color: -rq-background;
}

.header-pane .label{
    -fx-text-fill: -rq-text-background;
}

.header-pane .glyph-icon{
    -fx-fill: -rq-text-background;
}

.ui-colored-image-view {
    -fx-effect: innershadow(gaussian, -rq-accent-unfocus, 127, 1, 0, 0);
}


/*********** count down {type: GridPange} ***********/
/*
    structure:
    - header                 (VBox)
        - label              (Label)
*/

.count-down .header{
    -fx-background-color: -rq-background-alt, -rq-background, -rq-background-alt;
    -fx-background-insets: 0 0 0 0, 0 0 1 0, 0 0 2 0;
}

.count-down .header .label{
    -fx-text-fill: -rq-text-background-alt;
}
